﻿@model IEnumerable<LocationBasedDiscoutFinderApplication.Models.Store>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Store Detail</h2>
<table>
    <thead>
    <tr>
        <td>Store Name</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>@Html.ActionLink(store.Name,"Detail","Stores",new {id= store.Id},null)</td>
            </tr>
        }
    </tbody>
</table>

