﻿@model LocationBasedDiscoutFinderApplication.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Detail</h2>
<h4>Welcome @Model.Name</h4>


