﻿@model IEnumerable<LocationBasedDiscoutFinderApplication.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-striped table-bordered table-responsive table-hover">
    <thead>
    <tr>
        <td>Customer</td> 
    </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name,"Detail","Customers", new {id=customer.Id},null)</td>
            </tr>
        }
    </tbody>
</table>