﻿@model LocationBasedDiscoutFinderApplication.Models.Item
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Detail</h2>
<h2>Name of Item is: @Model.Name </h2>

