﻿@model IEnumerable<LocationBasedDiscoutFinderApplication.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <thead>
    <tr>
        <td>Items Present</td>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(@item.Name,"Detail","Items",new {Id=item.Id},null)</td>
            </tr>   
        }
    </tbody>
</table>
