﻿
@model LocationBasedDiscoutFinderApplication.ViewModels.RandomItemViewModel    

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 1 ? "Popular" : null;
}
<h2 class="@className">@Model.Item.Name</h2>

@foreach (var customer in Model.Customers)
{
    <p>@customer.Name</p>
}

